form {
    display: flex;
    padding: 2em 2em 1em 2em;
    flex-direction: column
}

mat-form-field {
	margin-bottom: 24px;
}

div.secondaryLink {
	padding: 10px;
}

.alert {
	padding: 5px;
	margin-bottom: 1em;
	opacity: 1;
}

mat-form-field {
	margin-bottom: 0px;
}

.mat-toolbar .mat-toolbar-row{
    justify-content: center;
}
